.landing-background {
    background-image: url('../img/hackathonpic.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.content {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    margin-top: 25px;
    height: 100%;
    width: 100%;
    
}

.words {
    color: white;
    font-size: 60px;
    margin-top: 80px;
    font-family: "Times New Roman", Times, serif
}

textarea[type="textarea"]
{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color:white;
    font-size: 30px;
    size:20px;
    margin-top: 60px;
    width: 100vw;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    
}
button[type="button"]
{
    background: white;
    border: none;
    outline: none;
    color:white;
    margin: 4px 2px;
    font-size: 30px;
    margin-top: 140px;
    padding: 10px;
    border-radius: 12%;
    width: 130px;
}
a {
    color: greenyellow;
    text-decoration: none;
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    padding: 0px;
    
}
input::placeholder {
    color: white;
    width: 100vw;
    height: 100vh;
    opacity: .50;
}