html {
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  background-color: black;
}

p {
  color: white;
  font-size: 2em;
}

a, button {
  background-color: rgba(0,0,0,0);
  border: none;
}

.favorite {
  padding-top: 120px;
  padding-bottom: 50px;
  margin: 25px auto;
  width: 300px;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.menu {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, .9);
  font-size: 28px;
  color: white;
  font-weight: bold;
}

.menubutton {
  margin-top: 25px;
  width: 100%;
  font-size: 28px;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 25px;
  background-color: rgba(0,0,0,0);
  border: none;
}

.menulink {
  font-size: 28px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

.click {
  font-size: 28px;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  border: none;
}

.burger {
  position: absolute;
  top: 5px;
  font-size: 28px;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  border: none;
}

.click::after {
  font-size: 28px;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  border: none;
}

.bottomNav {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 20px);
  margin: 10px;
  background-color: rgba(0,0,0,0);
  border: none;
}

.quotedisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.quoteImage {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}

.yoda {
  z-index: 1;
  opacity: .9;
  width: 80%;
  margin: 0 auto;
}

.quote {
  margin: 20px;
  padding: 5px;
  text-align: center;
}

input[type="text"]
{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color:white;
    font-size: 50px;
    margin-left: 60px;
}

input[type="submit"]
{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color:white;
    margin-left: 220px;
    font-size: 30px;
}
